{% extends "base.html" %} 
{% block title %}FrontPage{% endblock %} 
{% block content %}

<h1 align="center" style="padding-top: 50px;">Welcome to the SwampBites Scheduling System!</h1>

<div class="container-fluid">
    <div class="row align-items-center" style="height: 50vh;">
      <div class="col-md-6 text-right">
        <p class="display-4 font-weight-bold">Where Every Shift is as Smooth as Our Swamps</p>
      </div>
      <div class="col-md-6">
        <img src="static/swampbites_logo3.png" alt="Right Centered Image" class="img-fluid" style="max-height: 90%;">
      </div>
    </div>
  </div>


{% endblock %}