{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<!DOCTYPE html>
<h1 align="center" style="padding-top: 20px;">Month</h1>

<!-- Notes -->
<!-- <ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>

<!-- Image
<div class="d-flex justify-content-center align-items-center" style="height: 50vh; margin-top: 20px; margin-bottom: 20px;">
  <img src="static/temporary_schedule_image.png" alt="Centered Image" class="img-fluid" style="max-height: 100%;">
</div>


<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Reminder</button>
  </div>
</form> -->

<head>
    <style>
        table {
            border-collapse: collapse;
            background: white;
            color: black;
            border: 1px black;
            border-style: inset;
            
        }
         
        th,
        td {
            border: 1px black;
            border-style: inset
        }
    </style>
</head>
<br>
 
<body>
    <table
        style="width:100%; height:10vh"
        cellpadding="10">
 
        <caption>
        </caption>
 
        <thead>
            <tr>
                <td style="color: black; background: orange; width:10%">
                    Sun</td>
                <td style="color: black; background: orange; width:10%">
                    Mon</td>
                <td style="color: black; background: orange; width:10%">
                    Tue</td>
                <td style="color: black; background: orange; width:10%">
                    Wed</td>
                <td style="color: black; background: orange; width:10%">
                    Thu</td>
                <td style="color: black; background: orange; width:10%">
                    Fri</td>
                <td style="color: black; background: orange; width:10%">
                    Sat</td>
            </tr>
        </thead>
 
        <tbody>
            <tr style="height:10vh">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr bgcolor="f0f0f0" style="height:10vh">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height:10vh">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr bgcolor="f0f0f0" style="height:10vh">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height:10vh">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr bgcolor="f0f0f0" style="height:10vh">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
{% endblock %}